@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    margin: 0px;
    padding: 0px;

}

html {
    scroll-behavior: smooth;
}
.body {
    padding-top: 82px;
    color: #eee;
    background-color: black;
    font-family: 'VT323', monospace;
}

.title{
    color: aliceblue;
    font-size: 48px;
}

.header{
    border-bottom: 1px solid #eeeeee31;
    display: flex;
    background-color: #1D1D1D;
    justify-content: space-between;
    align-items: center;
    padding-block:6px ;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 60000;
}
.header img {
height: 60px;
}
.icone {
display: flex;
}
.links {
    color: #eee;
    margin-right: 40px;
    display: flex;
    gap: 20px;
}

.links a {
    color: #eee;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.6s;
}
.links a:hover {
color: #FBCC1A;
}
.hamburger-celular {
    width: 20px;
    display: none;
    gap: 5px;
    flex-direction: column;
}
.hamburger-celular span {
    background-color: #FBCC1A;
    width: 100%;
    height: 2px;
    display:block;
}
.titulo {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    color: #eee;
    align-items: center;
    font-size: 25px;
    transition: all 0.6s;
}
.titulo:hover {
    color: #FBCC1A;

}
.main {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
.card {
    height: 370px;
    background-color: #1D1D1D;
    border-radius: 7px;
    border: 1px solid #eeeeee36;
    padding: 15px;
    margin-top: 100px;
}
.titulo {
text-align: center;
font-size: 35px;

}
.personagem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.conteudo-apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
.momonga {
    animation: 2s momonga-sama infinite linear;
    height: 300px;
}
.vida {
    height: 25px;
}
.sobre {
    margin-bottom: 20px;
    font-size: 25px;
}
.conteudo-stats {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
}
.stats {
width: 80px;
height: 15px;
border: 1px solid #eeeeee36;
display: flex;
border-radius: 4px;
}
.stats span {
display: block;
background-color: green;
height: 100%;
width: 20%;
border-right: 1px solid gray ;

}
.conteudo-conhecimento {
    display: flex;
    margin-top: 70px;
}
.icone-conhecimentos {
width: 50%;
display: flex;
gap: 50px;

}
.caixa {
    border: 2px solid #FBCC1A;
    padding: 15px;
    border-radius: 7px;
    transition: all 0.7s;
}
.caixa:hover {
    border-color: #eee;

}
.icone-conhecimentos img {
    height: 60px;
    width: 60px;
}
.texto-conhecimento {
    width: 50%;
}
.paragrafo-conhecimento{
    text-align: center;
    font-size: 22px;
}
.titulo-projeto {
text-align: center;

}
.conteudo-projeto {
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 70px;
    
}
.card-projeto { 
    padding: 20px;
    border: 2px solid #12dde469;
    font-size: 20px;
    text-align: center;
    border-radius: 7px;
    transition: all 0.7s; 
}
.card-projeto:hover {
    border-color: #eeeeee86;
}

.card-projeto img {
width: 100%;
border-radius: 3px;
}
.texto-projeto {
margin-top: 20px;

}
.imagem-projeto {
    display:flex;
    margin-top: 10px;
    gap: 5px;
    justify-content: center;
}
.imagem-projeto img {
width: 30px;
height: 30px;
}
.titulo-contato {
    text-align: center;

}
.contato {
    display: flex;
    flex-direction: column;
}
.conteudo-contato {
    display: flex; 
    align-items: center;
    flex: 1;
    justify-content: center;
    gap: 25%;
}

.formulario label{
    display: block;
}
.formulario input{
    width: 100%;
    margin-bottom: 12px;
    border-radius: 7px;
    padding: 5px;
    background-color: #eeeeee86;
    border: 2px solid #eeeeee31;
    color: #000000;
}
.formulario input:focus{
    outline: none;
}
.formulario textarea {
    background-color: #eeeeee86;
    border: 2px solid #eeeeee31;
    color: #000000;
    border-radius: 7px;
}
.formulario textarea:focus{
    outline: none;
}
.butao {
    display: block;
    margin-top: 10px;
    background-color: #eeeeee86;
    color: aliceblue;
    border-radius: 7px;
    padding: 5px 10px;
    border: 2px solid #eeeeee31;
    cursor: pointer; 
    transition: all 1s;
}
.butao:hover {
    background-color: #FBCC1A;
    color: black

}

.link-contato {
    display: flex;

}
.link-contato img {
height: 80px;
width: 80px;
}

.footer{
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background-color: rgba(133, 126, 126, 0.349);
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.copy {
    display: flex;
    gap: 5px;
    align-items: center;
}
.emoji {
    font-size: 25px;
}

.github{
    position: absolute;
    max-height: 100px;
    margin-left: 50%

}
.whatsAPP{
    position: absolute;
    max-width: 200px;
    margin-left: 35%
}
.dragão  {
    position: absolute;
    height: 100px;
    width: 100%;
}
.dragão img {
    position: absolute;
    right: 0%;
    width: 200px;
    height: 100px;
    animation: dragão 6s ease;
}





/*----------------------------responsividade------------------------------------------*/



@keyframes dragão {
    to {
        right: 100%;

    }
}
@keyframes momonga-sama {
    0%{
        transform: initial;
    }
    50%{
        transform: translate3d(0px,5px,0px);
    }
    100%{
        transform:initial;
    }
}

@media (max-width: 1000px) {
    .hamburger-celular {
      display: flex;
    }
  }